<div class="row">

        <h1>Search Resources</h1>
        <%= form_for @search, url: libmash_api_v1_search_queries_path	 do |f| %>
          <section class="col-md-4">
            <!-- <i class="glyphicon glyphicon-pencil"></i> -->
            <%= f.text_field :title, placeholder: 'Title', class: "input form-control" %>
          </section>
          <section class="col-md-4">
            <i class="icon-append fa fa-user"></i>
            <%= f.text_field :author, placeholder: 'Author', class: "input form-control"%>
          </section>
          <section class="col-md-4">
            <i class="icon-append fa fa-user"></i>
            <%= f.text_field  :pub_year, placeholder: 'Publication Year', class: "input form-control"%>
          </section>
          </br>
          </br>
          <%= f.submit "Search", class: "btn btn-primary box-center"%>
        <% end %>


</div>
