<div class="row">

        <h1>Search Resources</h1>
        <%= form_for @search, url: api_v0_search_queries_path	 do |f| %>
          <section class="col-md-4">
            <!-- <i class="glyphicon glyphicon-pencil"></i> -->
            <%= f.text_field :title, placeholder: 'Title', class: "input form-control" %>
          </section>
          <section class="col-md-4">
            <i class="icon-append fa fa-user"></i>
            <%= f.text_field :author, placeholder: 'Author', class: "input form-control"%>
          </section>
          <section class="col-md-4">
            <i class="icon-append fa fa-user"></i>
            <%= f.text_field  :pub_year, placeholder: 'Publication Year', class: "input form-control"%>
          </section>
          </br>
          </br>
          <%= f.submit "Search", class: "btn btn-primary box-center"%>
        <% end %>


</div>

<!--
  <div class="row">
                              <section class="col col-4">
                                  <label class="label">Name</label>
                                  <label class="input">
                                      <i class="icon-append fa fa-user"></i>
                                      <input type="text" name="name">
                                  </label>
                              </section>
                              <section class="col col-4">
                                  <label class="label">E-mail</label>
                                  <label class="input">
                                      <i class="icon-append fa fa-envelope-o"></i>
                                      <input type="email" name="email">
                                  </label>
                              </section>
                              <section class="col col-4">
                                  <label class="label">Website</label>
                                  <label class="input">
                                      <i class="icon-append fa fa-globe"></i>
                                      <input type="url" name="url">
                                  </label>
                              </section>
                          </div> -->
