<h1>Search Page</h1>
<%= form_for @search, url: api_v0_search_queries_path	 do |f| %>
  <div >
    <%= f.text_field :title, placeholder: 'Title' %>
  </div class="title"></br>
  <div>
    <%= f.text_field :author, placeholder: 'Author' %>
  </div>
  <br/>
  <div >
    <%= f.text_field  :start_pub_year, placeholder: 'Start Publication Year' %>
  </div><br/>
  <div >
    <%= f.text_field  :end_pub_year, placeholder: 'End Publication Year' %>
  </div>
  </br>
  <%= f.submit "Search"%>
<% end %>
